extends layout

block content
    h1 Ejemplo de peticion #{tipoPeticion}
    ul
        li 
            p Autor: #{autor}
        li 
            p Titulo: #{titulo}
        li
           p ISBN: #{isbn}